*{
  box-sizing: border-box;
}
body{
background: blue;
}
.todo-list{
  background-color: white;
  height: 400px;
width: 500px;
margin: 100px auto;
text-align: center;
}
.todo-form input{
width: 50%;
height: 30px;
border: 1px solid rgb(20, 150, 224);
outline: none;
}
input:focus{
  border: 2px solid rgb(20, 150, 224);
  }
  
.btn{
background-color: rgb(20, 150, 224);
color: white;
cursor: pointer;
border: 0;
outline: 0;
height: 30px;
}

.todo-item{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-around;
  margin: 1.5rem auto;
  background-color: #4ba9eb;
  width: 80%;
  height: 44px;
  padding: 10px;
  border-radius: 5px;
  color: white;
}
.complete p{
text-decoration: line-through;
  }
.todo-item .icons{
position: absolute;
right: 0;
}
.todo-item p{
position: absolute;
left: 10px;
font-weight: 600;
letter-spacing: 1px;
}

.icons .icon{
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 5px;
  cursor: pointer;
}

